body{
    background-color: black;
}
.calc-wrapper{
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color:white;
    margin-left: 250px;
    margin-top: 100px;
    border-radius: 15px;
}
.button-wrapper{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #5a5a5a;;
    color: white;
    flex: 1;
    margin-left: 10px;
  
    margin-top: 4px;
    border-radius: 25px;

}
.row{
    display: flex;
    
}
.input-wrapper{
    height: 7em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 16px;
}
.result{
    flex: 1;
    font-size: 24px;
}
.text{
    flex: 1;
    font-size:18px;
}